<h1>Listar tickets</h1>
<table class="table">
  <tr>
    <th>Status</th>
    <th>Assunto</th>
    <th>Agente</th>
  </tr>
  <% @tickets.each do |t| %>
    <tr>
      <td><%= t.status %></td>
      <td><%= link_to t.subject, t %> </td>
        <% if t.user_id.nil? %>
          <td>VAZIO</td>    
        <% else %>      
          <td><%= t.user.name %></td>
        <% end %>
  <% end %>
    </tr>
</table>